//Apply consistent UI styling for dashboard - Ma. Rinafe Lozano
body {
    margin: 0;
    font-family: sans-serif;
    background-color: #D9D9D9;
}

.main-header {
    background-color: #1C1D5D;
    padding: 15px;
    color: white;
    display: flex;
}

.main-logo img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
    border-radius: 100px;
}

.container {
    width: 80%;
    margin: 40px auto;
    padding: 25px;
    background-color: #61629A;
    border-radius: 10px;
    color: white;
}

.btn {
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
}

.edit {
    background-color: #19a819;
}

.delete {
    background-color: #b81b1b;
}
