//Style article feed and article detail pages - Ma. Rinafe Lozano
body {
    margin: 0;
    background-color: #D9D9D9;
    font-family: sans-serif;
}

.main-header {
    background-color: #1C1D5D;
    padding: 15px;
    display: flex;
}

.main-logo {
    display: flex;
    gap: 15px;
    color: white;
}

.main-logo img {
    width: 35px;
    height: 35px;
    border-radius: 100px;
}

.feed-container {
    width: 90%;
    margin: 40px auto;
    background-color: #61629A;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.feed-container h2 {
    text-align: center;
}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.article-card {
    background-color: #1C1D5D;
    padding: 18px;
    border-radius: 10px;
    text-align: center;
}

.thumb {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.meta {
    font-size: 12px;
    margin: 8px 0;
}

.read-more {
    background-color: white;
    color: #1C1D5D;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    font-size: 12px;
}