//Finalize layout and assets for production deployment - Ma. Rinafe Lozano
body {
    padding-top: 90px;
    margin: 0;
    background-color: #D9D9D9;
}

.signin-container {
    font-family: sans-serif;
}

.signin-header img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    align-self: center;
    border-radius: 100px;
}

.signin-header {
    background-color: #1C1D5D;
    padding: 20px;
    display: flex;
    gap: 15px;
    position: fixed;
    top: 0;
    color: white;
    width: 100%;
    font-family: sans-serif;
}

.signin-main {
    background-color: #61629A;
    display: flex;
    justify-content: space-between;
}
form {
    display: flex;
    flex-direction: column;
}
.signin-input {
    display: flex;
    flex-direction: column;
    padding: 3rem 6rem;
    color: white;
}

.signin-input h1 {
    color: white;
    text-align: center;
}

.logo {
    width: 50%;
    padding: 5rem 0;
}

.logo img {
    border-radius: 300px;
    width: 300px;
}

input[type="email"],
input[type="password"],
input[type="text"], #listt {
    width: 200px;
    padding: 15px;
    margin: 10px 0 25px;
    border-radius: 10px;
    border: none;
}

input:focus {
    outline: none;
}

#signin {
    width: 150px;
    margin: 0 auto;
    background-color: #1C1D5D;
    color: white;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

@media (max-width: 575.98px) {
    body {
        font-size: 12px;
        padding-top: 3.5rem;
    }

    .signin-header {
        padding: 10px;
    }

    .signin-main {
        display: block;
    }

    input[type="email"],
    input[type="password"] {
        width: 90%;
    }
    .signin-input {
        padding: 13.5rem 6rem;
    }
    .logo img {
        width: 150px;
        margin: 0 auto;
    }
    .logo {
        position: absolute;
        display: flex;
        top: 3%;
        left: 50%;
        transform: translate(-50%);
    }
}