
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #D9D9D9;
    padding-top: 80px; /* FIX for fixed header */
}

.signin-header {
    background-color: #1C1D5D;
    padding: 16px 30px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.signin-header img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.signin-container {
    min-height: calc(100vh - 80px);
}

.signin-main {
    background-color: #61629A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    min-height: calc(100vh - 80px);
}

/* FORM */
.signin-input {
    color: white;
    max-width: 420px;
}

.signin-input h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 6px;
    font-size: 14px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[list] {
    width: 100%;
    padding: 14px;
    margin-bottom: 18px;
    border-radius: 10px;
    border: none;
}

input:focus {
    outline: none;
}


#signin {
    background-color: #1C1D5D;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 280px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .signin-main {
        flex-direction: column-reverse;
        padding: 40px 20px;
        text-align: center;
    }

    .logo img {
        width: 180px;
        margin-bottom: 30px;
    }
}
