@font-face {
    font-family: Irish grover;
    src: url(IrishGrover-Regular.ttf);
}
body {
    padding-top: 50px;
    margin: 0;
    background-color: #D9D9D9;
}
.main-header {
    background-color: #1C1D5D;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    position: fixed;
    top: 0  ;
    width: 100%;
    z-index: 1
}
.main-logo {
    display: flex;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    gap: 20px;
}
.main-logo img {
    width:35px;
    border-radius: 100px;
    object-fit: cover;
    align-self: center;
}
.main-buttons {
    width: 10%;
    margin: 8px;
}
.main-buttons a {
    border-radius: 10px;
    font-size: 11px;
    border: none;
    padding: 10px;
    margin: 0 2%;
    cursor: pointer;
    font-family: sans-serif;
    text-decoration: none;
    transition:  0.15s ease;
}
.main-buttons a:hover {
    transform: scale(0.95);
}
.main-buttons #signup {
    background-color: white;
    color: #1C1D5D;
}
.main-buttons #login {
    background-color: #61629A;
    color: white;
}
.main-home {
    background-color: #61629A;
    padding: 3%;
    color: white;
    display: flex;
    justify-content: space-between;
}
.main-home h1 {
    font-family: irish grover;
    color: white;
    font-size: 50px;
    letter-spacing: 5px;
}
.main-home p {
    text-align: justify;
    font-family: sans-serif;
    font-size: 15px;
    margin-bottom: 40px;
}
.welcome {
    width: 50%;
}
.welcome a {
    background-color: #1C1D5D;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-family: sans-serif;
    font-size: 12px;
    text-decoration: none;
}
.welcomelogo {
    width: 50%;
}
.welcomelogo img {
    border-radius: 100%;
    display: block;
    margin: auto;
    width: 40%;
}
.main-announcements {
    font-family: sans-serif;
    margin-bottom: 20px;
}
.main-announcements h1 {
    font-size: 25px;
    text-align: center;
}
.announces {
    display: flex;
    padding: 5px 10%;
    justify-content: center;
}
.ann1 a {
    color: white;
    text-decoration: none;
}
.ann1 {
    background-color: #1C1D5D;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    margin: 0 10px;
    text-overflow: ellipsis;
}
.ann1 .date, .ann1 a {
    margin: 10px 0;
    font-size: 10px;
}
.ann1 .title {
    border-bottom: 0.5px solid white;
    padding-bottom: 5px;
    margin: 0;
    font-weight: bold;
}
.authors {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 575.98px) {
    .main-logo img {
        width: 30px;
        margin: 10px 0 10px;
    }
    .main-logo {
        gap: 10px;
    }
    .main-logo p {
        font-size: 10px;
        margin:15px 0;
    }
    .main-buttons {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        margin: 8px 0;
    }
    .main-buttons a {
        font-size: 10px;
        object-fit: cover;
        align-self: center;
    }
    .main-home {
        display: block;
        position: relative;
        padding: 3rem 1rem;
    }
    .main-home p {
        font-size: 12px;
        margin: 0 10px 25px;
        line-height: 20px;
    }
    .main-home h1 {
        font-size: 25px;
        text-align: center;
    }
    .main-header {
        padding: 0px 0;
    }
    .main-logo {
        margin: 0 10px 2px;
    }
    .main-logo p {
        padding: 5px;
    }
    .welcome {
        width: 100%;
    }
    .welcome a {
        padding: 10px 70px;
    }
    #dashboard {
        margin-left: 10px;
    }
    .welcomelogo {
        position: absolute;
        top: 21rem;
        left: 50%;
        transform: translate(-50%);
        width: 400px;
    }
    .main-announcements {
        margin: 15rem 0;
    }
    .announces {
        display: inline;
        width: 100px;
    }
    .ann1 {
        margin: 5px auto;
        width: 400px;
    }
}
@media (min-width:768px) and (max-width: 991.98px) {

}